:root { 
    --element-padding: 10px 0;
}

.gradio-container {
    width: 50vw;
    max-width: 1000px !important;
    min-width: 350px !important;
    margin: auto;
    padding: var(--element-padding);
}

footer {
    visibility: hidden;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

#intro {
    text-align: center;
    padding: var(--element-padding);
}

#explanation {
    padding: var(--element-padding);
}

#answer {
    min-height: 220px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 187.5px;
    height: auto;
}

button {
    font-size: 16px !important;
}